<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8"> <!--Codificación de caracteres-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--Compatibilidad con Internet Explorer-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Para el Responsive en diferentes dispositivos-->
    <title>Listar Veterinarios</title> <!--Título página WEB-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<header th:include="~{../static/html/header.html}">
</header>
<section class="container mt-4">
    <h2 class="text-success"><strong>Lista de Veterinarios</strong></h2>
    <a class="btn btn-primary mb-2" th:href="@{/veterinario/crearVeterinario}">Crear Veterinario</a>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO PATERNO</th>
            <th>APELLIDO MATERNO</th>
            <th>ESPECIALIDAD</th>
            <th>PACIENTES</th>
            <th>EDITAR / ELIMINAR</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="veterinario: ${atributoListaVeterinarios}">
            <td th:text="${veterinario.id}"></td>
            <td th:text="${veterinario.nombres}"></td>
            <td th:text="${veterinario.apellido1}"></td>
            <td th:text="${veterinario.apellido2}"></td>
            <td th:text="${veterinario.especialidad}"></td>
            <td>
                <span th:if="${veterinario.listaMascotas != null}">
                    <span th:each="mascota: ${veterinario.listaMascotas}" th:text="${mascota.nombre}"></span>
                </span>
            </td>
            <td>
                <div class="btn-group">
                    <form th:action="@{/veterinario/editarVeterinario/{id}(id=${veterinario.id})}"
                          method="get">
                        <button class="btn btn-warning mx-4" type="submit">EDITAR</button>
                    </form>
                    <form th:action="@{/veterinario/eliminarVeterinario/{id}(id=${veterinario.id})}"
                          method="post" onsubmit="return confirmarEliminacion()">
                        <button class="btn btn-danger" type="submit">ELIMINAR</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>

    </table>
</section>
<script>
    function confirmarEliminacion() {
        return confirm('¿Estás seguro de que deseas eliminar esta Veterinario?');
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>